@font-face {
    font-family: Poppins; 
    src: url(/fonts/Poppins/Poppins-BlackItalic.ttf);
  }
  
  @font-face {
    font-family: Poppins-Bold; 
    src: url(/fonts/Poppins/Poppins-Bold.ttf);
  }

.signature-name {
    font-family: Poppins, sans-serif; /*Specify your font name here*/
    font-optical-sizing: auto;
    font-weight: 600;
  }
  
.signature-contact, .signature-social {
    font-family: Poppins-Bold, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
  }

body {
    font-family: Arial, sans-serif;
}
.signature {
    width: 100%;
    max-width: 600px;
    border-top: 1px solid #e1e1e1;
    padding-top: 10px;
}
.signature-table {
    width: 100%;
    border-collapse: collapse;
}
.signature-table td {
    vertical-align: top;
    padding: 5px;
}
.signature-img {
    width: 80px;
    height: auto;
    border-radius: 20%;
}
.signature-info {
    padding-left: 10px;
}
.signature-name {
    font-size: 16px;
    font-weight: bold;
}
.signature-title {
    font-size: 14px;
    color: #555555;
}
.signature-contact {
    font-size: 14px;
    color: #777777;
}
.signature-social img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}