
HTML Projects/myOwn/img/lemon.png
HTML Projects/myOwn/index.html
HTML Projects/myOwn/notes.html
HTML Projects/myOwn/portfolio.html
HTML Projects/myOwn/roadmap.html
HTML Projects/myOwn/styles/styles.css
HTML Projects/Nike Shoe Animated/image/3bb61349-e1cb-4ca9-b5d0-adbda8f5d719.png
HTML Projects/Nike Shoe Animated/image/41cfe8cf-f385-4875-86a2-6a22c72d9dec.png
HTML Projects/Nike Shoe Animated/image/66761790-9bc3-482a-8c07-68cf2d3e246e.png
HTML Projects/Nike Shoe Animated/image/Design ohne Titel.jpg
HTML Projects/Nike Shoe Animated/image/leopoldan_product_photo_concept_shoe_by_nike_violet_color_white_8b8faf49-4db5-4a5a-ae32-65539a3461fe.png
HTML Projects/Nike Shoe Animated/Nike Shoe Animated.rar
HTML Projects/Nike Shoe Animated/shoe.css
HTML Projects/Nike Shoe Animated/shoes.html
HTML Projects/not sure/images/crisis club.jpg
HTML Projects/not sure/images/doingnothing.jpg
HTML Projects/not sure/images/innerpeace.jpg
HTML Projects/not sure/images/leaves-6975462_1920.png
HTML Projects/not sure/images/logo-removebg-preview.png
HTML Projects/not sure/images/logo.jpg
HTML Projects/not sure/images/saveplanet-removebg-preview.png
HTML Projects/not sure/images/saveplanet.jpg
HTML Projects/not sure/notsure.css
HTML Projects/not sure/notsure.html
HTML Projects/not sure/notsurehome.html
HTML Projects/not sure/notsurekontakt.html
HTML Projects/not sure/notsureprodukte.html
HTML Projects/notSureAgain/css/style.css
HTML Projects/notSureAgain/css/w3.css
HTML Projects/notSureAgain/img/chicken.jpg
HTML Projects/notSureAgain/img/Front.jpg
HTML Projects/notSureAgain/img/menu.jpg
HTML Projects/notSureAgain/img/menu2-transparent.png
HTML Projects/notSureAgain/img/menu2.jpg
HTML Projects/notSureAgain/img/pie.jpg
HTML Projects/notSureAgain/img/schaschlik.jpg
HTML Projects/notSureAgain/index.html
HTML Projects/patrick/Aufgabe_1_Live.zip
HTML Projects/patrick/Aufgabe_1_Live/Aufgabe 1 Live/css/style.css
HTML Projects/patrick/Aufgabe_1_Live/Aufgabe 1 Live/image/background.jpg
HTML Projects/patrick/Aufgabe_1_Live/Aufgabe 1 Live/image/greenShoe.png
HTML Projects/patrick/Aufgabe_1_Live/Aufgabe 1 Live/image/lilaShoe.png
HTML Projects/patrick/Aufgabe_1_Live/Aufgabe 1 Live/image/logo.png
HTML Projects/patrick/Aufgabe_1_Live/Aufgabe 1 Live/image/orangeShoe.png
HTML Projects/patrick/Aufgabe_1_Live/Aufgabe 1 Live/index.html
HTML Projects/patrick/card1.zip
HTML Projects/patrick/card1/card1/.vscode/settings.json
HTML Projects/patrick/card1/card1/css/style.css
HTML Projects/patrick/card1/card1/image/3bb61349-e1cb-4ca9-b5d0-adbda8f5d719.png
HTML Projects/patrick/card1/card1/index.html
HTML Projects/patrick/Flexbox.zip
HTML Projects/patrick/image.zip
HTML Projects/patrick/image/image/3bb61349-e1cb-4ca9-b5d0-adbda8f5d719.png
HTML Projects/patrick/image/image/41cfe8cf-f385-4875-86a2-6a22c72d9dec.png
HTML Projects/patrick/image/image/66761790-9bc3-482a-8c07-68cf2d3e246e.png
HTML Projects/patrick/image/image/99a44377-de79-4a80-a7fd-7fd7aab5f5da.png
HTML Projects/patrick/image/image/Design ohne Titel.jpg
HTML Projects/patrick/image/image/leopoldan_product_photo_concept_shoe_by_nike_violet_color_white_8b8faf49-4db5-4a5a-ae32-65539a3461fe.png
HTML Projects/patrick/notSureAgain/css/style.css
HTML Projects/patrick/notSureAgain/css/w3.css
HTML Projects/patrick/notSureAgain/img/hamburger.jpg
HTML Projects/patrick/notSureAgain/img/menu.jpg
HTML Projects/patrick/notSureAgain/img/pie.jpg
HTML Projects/patrick/notSureAgain/index.html
HTML Projects/patrick/shoe(1).zip
HTML Projects/patrick/shoe.zip
HTML Projects/shoe(1)/image/3bb61349-e1cb-4ca9-b5d0-adbda8f5d719.png
HTML Projects/shoe(1)/image/41cfe8cf-f385-4875-86a2-6a22c72d9dec.png
HTML Projects/shoe(1)/image/66761790-9bc3-482a-8c07-68cf2d3e246e.png
HTML Projects/shoe(1)/image/Design ohne Titel.jpg
HTML Projects/shoe(1)/image/leopoldan_product_photo_concept_shoe_by_nike_violet_color_white_8b8faf49-4db5-4a5a-ae32-65539a3461fe.png
HTML Projects/shoe(1)/index.html
HTML Projects/shoe(1)/shoe.css
