/* this section for basic global stuff text type global margin etc. */

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { min-height: 100vh; }

/* this section for animation CSS */

.blinkLogo {
  -moz-animation: blink 2s steps(5, start) infinite;
  -o-animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 2s steps(5, start) infinite;
  animation: blink 2s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

.blink {
  -moz-animation: blink 1s steps(5, start) infinite;
  -o-animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}

/* This is where main CSS file starts */

.bodyTop {
  text-align: center;
  border: 5px solid;
  border-radius: 10px;
  margin: auto;
  background-color: turquoise;
  width: 50%;
  padding: 10px;
  
  
}

.btn {
  display: block;
  border: 5px solid;
  margin-top: 10%;
  margin-left: 40%;
  padding: 20px;
}

.miscellaneous {
  text-align: center;
  border: 5px solid;
  border-radius: 10px;
  background-color: aqua;
  height: 50vh;
  
}

/* this section where usefulSites css starts */

.cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  
}

.cards .card {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 10px  
}

/* this section where fun page css starts */

.poopImg {
  background-color: brown;
}

.funImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}