/* this section for basic global stuff text type global margin etc. */

* {
  margin: 0;
  padding: 0;
}

/* this section for animation CSS */

.blinkLogo {
  -moz-animation: blink 2s steps(5, start) infinite;
  -o-animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 2s steps(5, start) infinite;
  animation: blink 2s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

.blink {
  -moz-animation: blink 1s steps(5, start) infinite;
  -o-animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}

/* This is where main CSS file starts */

.bodyTop {
  background-color: turquoise;
}

.misceliniuos {
  background-color: aqua;
}