/* this section for basic global stuff text type global margin etc. */
/* will update code with time */

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { min-height: 100vh; }

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

/* color switching with resize, intresting stuff.

 @media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
}
*/

/* this section for animation CSS */

.blinkLogo {
  -moz-animation: blink 2s steps(5, start) infinite;
  -o-animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 2s steps(5, start) infinite;
  animation: blink 2s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

.blink {
  -moz-animation: blink 1s steps(5, start) infinite;
  -o-animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}

/* This is where main CSS file starts */

h3 {
  text-align: center;
  margin-top: 2%;
}

.topNav {
  border: 5px solid;
  border-radius: 5px;
  box-shadow: 0 0 8px 0;
}

.navigation {
  list-style-type: none;
}

.bodyTop {
  text-align: center;
  justify-content: space-evenly;
  border: 5px solid;
  border-radius: 10px;
  box-shadow: 0 0 5px 0;
  margin: auto;
  background-color: rgb(2, 159, 143);
  width: 30%;
  padding: 50px; 
  margin-top: 60px;
}

.btn {
  display:flex;
  border: 5px solid;
  box-shadow: 0 0 5px 0;
  padding: 15px;
}

.miscellaneous {
  text-align: center;
  justify-content: space-evenly;
  border: 5px solid;
  border-radius: 10px;
  box-shadow: 0 0 5px 0;
  margin: auto;
  background-color: rgb(119, 58, 102);
  width: 30%;
  padding: 50px; 
  margin-top: 60px;
}

/* this section where usefulSites css starts */

.cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.cards .card {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 10px  
}

/* this section where fun page css starts */

.poopImg {
  display: block;
  text-align: center;
  background-color: rgba(110, 79, 79, 0.783);
  height: 85vh;
  width: auto;
}

.funImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

/* this section where Portfolio css starts */

.name {
  text-align: center;
  background-color: whitesmoke;
  border: 3px solid;
  border-radius: 10px;
  margin: auto;
  width: 45%;
  padding: 50px; 
  margin-top: 60px;
}

.inlineP {
  display: inline
}

img {
  max-width:100%;
  max-height:100%;
  margin: auto;
  display:flow-root
}

.profilePic {
  width: 175px;
  height: 250px;
  border-radius: 150px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border: 1px solid;
  border-radius: 20px;
  margin: auto;
  width: 30%;
  padding: 50px; 
  margin-top: 10px;
  box-shadow: 0 0 5px 0;
}

.profileButtons {
  float: left;
}

.introduction {
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: whitesmoke;
  box-shadow: 0 0 5px 0;
}

.projects {
  text-align: left;
  background-color: rgb(101, 113, 175);
  border: 5px solid;
  margin: auto;
  width: 45%;
  padding: 45px; 
  margin-top: 15px;
}



/* This is where footer CSS file starts here */

footer {
  text-align: center;
  background-color: beige;
  height: 20vh;
  padding: 35px;
  font-size: 14px;
}

