.blink {
    -moz-animation: blink 2s steps(5, start) infinite;
    -o-animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 2s steps(5, start) infinite;
    animation: blink 2s steps(5, start) infinite;
  }
  
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }

  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }

