/* this section for basic global stuff text type global margin etc. */

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { min-height: 100vh; }

/* this section for animation CSS */

.blinkLogo {
  -moz-animation: blink 2s steps(5, start) infinite;
  -o-animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 2s steps(5, start) infinite;
  animation: blink 2s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

.blink {
  -moz-animation: blink 1s steps(5, start) infinite;
  -o-animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}

/* This is where main CSS file starts */

.bodyTop {
  background-color: turquoise;
}

.miscellaneous {
  background-color: aqua;
}

/* this section where usefulSites css starts */

.cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cards .card {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 10px  
}

/* this section where fun page css starts */

.poopImg {
  background-color: brown;
}

.funImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}