.hero-bg {
    background: url('https://picsum.photos/1600/900') no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 100px 0;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .overlay h1, .overlay p {
    color: white;
}